* {
    box-sizing: border-box;
}

html {
    line-height: 1.6;
}

body {
    margin: 0;
    font-family: OpenSans, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: 500;
    font-family: Roboto, sans-serif;
}

p {
    max-width: 48ch;
    margin: 0 0 1rem;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

.btn {
	background-color: $clr1;
	color: $clr2;
	border: 1px solid $clr1;
	border-radius: 10px;
	padding: 7px 18px;

	&:hover {
		background-color: $clr2;
		color: $clr1;
	}
}