
// COLOR PALETTE
$clr1: #2F4858;
$clr2: #f0f5f9;
$clr3: #000c3e;
$clr4: #d8d8d8;
$clr5: #008e9b;
$clr6: #ebebeb;

// LAYOUT BREAKPOINTS
$break-mobile: 460px;
$break-narrow: 560px;
$break-normal: 740px;
$break-wide: 960px;


